<h1><center>{{title}}</h1>
<center>
<table>
    <form action="/searchaction" method="post">

<label for="reg">Register number:</label>
<input type="text" id="reg" name="reg">
<button>Search</button>


</form>
<style>
    table,th,td{
        border:1px solid black;
       border-collapse:collapse}
       th,td{
        padding:15px;
        text-allign:left;
       }
       html{
        background-color:rgb(202, 132, 239);
       }
       table{
        background-color: cyan;
       }

</style>
<center>
    <thead>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>REGISTER NUMBER</td>
            <td>INSTITUTIONAL MAIL ID</td>
            <td>PERSONAL MAIL ID</td>
            <td>MOBILE</td>
            <td><a href="/adduser" class="addbtn">Add User</a></td>
            

            
            <td><a href="/attendence"><button>Attendence</button></a></td>
            
        </tr>
        
    </thead>
    <tbody>
{{#each rows}}
    <tr>
        <td>{{this.ID}}</td>
        <td>{{this.Name}}</td>
        <td>{{this.RegisterNumber}}</td>
        <td>{{this.InstitutionalEmail}}</td>
        <td>{{this.PersonalEmail}}</td>
        <td>{{this.Mobile}}</td>
        <td><a class="edit" href="/edituser/{{this.ID}}">EDIT</a></td>
        <td><a onclick="return confirm('Are you sure?')" class="delete" href="/deleteuser/{{this.ID}}">DELETE</a></td>
    </tr>
{{/each}}
</center>
    </tbody>
</table>
<a href="/" style="color:black">back</a>
