<div class="container mt-5">
       <div class="row me-auto">
    <div class="col">
       <form action="/search" method="post">
        <input type="search" name="regNo" required placeholder="Teacher ID">
        <button><i class="bi bi-search"></i>search</button>
       </form>
    </div>
     <div class="col">
        <a href="/addPage/teacher"><button class="btn btn-primary">ADD TEACHER</button></a>  
     </div>
</div>
    <table class="table">
  <thead>
    <tr>
        
      <th scope="col">Teacher ID</th>
      <th scope="col">Name</th>
      <th scope="col">University mail id</th>
      <th scope="col">Personal mail id</th>
      <th scope="col">Mobile</th>
      <th></th>
      <th></th>
      <th></th>
    
    </tr>
  </thead>
  <tbody>
    {{#if msg}}
    {{#each row}}
    <tr row_id={{this.tchrId}}>
      
      <td class="data">{{this.tchrId}}</td>
      <td class="data">{{this.Name}}</td>
      <td class="data">{{this.Unimail}}</td>
      <td class="data">{{this.EmailId}}</td>
      <td class="data">{{this.Mobile}}</td>
      <td><button class="btn btn-dark edit">Edit</button>
      <button class="btn btn-dark save">Save</button></a>
      </td>
   <td> <a href="/delete/{{this.tchrId}}"><button class="btn btn-danger delete">Delete</button></a></td>
 
    </td>
    </tr>
   {{/each}} 
   {{/if}}
   {{#else}}
   <tr>
    
    <td colspan="5">No data Found</td>
   </tr>
   {{/else}}
  </tbody>
</table>
</div>