<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="container">
      <form action="/updatesearch"  >
   <h3>SEARCH STUDENT</h3>
   
    <hr>
 
    <label for="regno"><b>Register Number</b></label>
    <input type="regno" placeholder="register no to be searched" name="regno" id="regno" required><br>

    <button type="submit" class="regbtn">SEARCH STUDENT</button>
    <a href="./" style="color:black">BACK </a>

    <br>
    
    {{#if umesg}}
        <h3>Data updated!!!</h3>
        {{/if}}


     {{#if mesg2}}
     <h3>Data Not Found!</h3>
     {{/if}}
    </form>
  </div> 


  <!--search form design end-->


  {{#if mesg1}}
<div class="container">
        <form action="/updatestudent" >
            <h3>UPDATE STUDENT</h3>

        <hr>
        {{#data}}
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" value="{{name}}" id="name" required>

        <label for="regno"><b>Register Number</b></label>
        <input type="text" placeholder="Enter Register Number" name="regno" value="{{regno}}" id="regno" required readonly>

        <label for="i_email"><b>Instituional_email</b></label>
        <input type="text" placeholder="Enter Instituional_email" name="iemail" value="{{insmail}}" id="imail" required>

        <label for="p_email"><b>Personal_email</b></label>
        <input type="text" placeholder="Enter Personal_email" name="pemail" value="{{permail}}" id="pmail" required>

        <label for="mobile"><b>Mobile Number</b></label>
        <input type="text" placeholder="Enter Mobile Number" name="mobile" value="{{mobileno}}" id="mobile" required>

        <button type="submit" class="regbtn">UPDATE STUDENT</button>
        {{/data}}

        <a href="./" style="color:black">BACK</a><br>

        

        </form>
    </div>
  {{/if}}
</body>
</html>
